<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        body{
            padding: 20px;
        }
    </style>
</head>
<body>

<form class="layui-form" action="" th:object="${zhanpin}">
    <input type="hidden" th:field="*{zhanpinId}" id="zhanpinId" >
    
    <div class="layui-form-item">
        <label class="layui-form-label">展品名称</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{name}" required="required" style="background:#CCCCCC" readonly="true"  lay-verify="required" placeholder="请输入展品名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{company}" required="required"  style="background:#CCCCCC" readonly="true"  lay-verify="required" placeholder="请输入企业名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">企业联系人</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{qyname}" required="required"  style="background:#CCCCCC" readonly="true"  lay-verify="required" placeholder="请输入企业联系人" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">联系人电话</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{qytel}" required="required"  style="background:#CCCCCC" readonly="true"  lay-verify="required" placeholder="请输入企业联系人电话" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    
    
    

</form>

	<table id="table-zhanpin" lay-filter="table-zhanpin-filter"></table>
    
    <script type="text/html" id="convertqixian">
        {{#
            if(d.qixian == 'LS'){
                return '临时';
            }else if(d.qixian == 'YJ'){
                return '永久';
            }else{
                return '其他'
            }
        }}
    </script>

    <script type="text/html" id="convertDept">
        {{#
           return d.dept.deptName;
        }}
    </script>
    
    <script type="text/html" id="col-zhanpin-toolbar">
		<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
    </script>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:inline="javascript">
    

        var ctxPath = "/";
        layui.use(['laydate','table','form', 'upload', 'element'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            var upload = layui.upload;
            var element = layui.element;
            var $ = layui.$;
            
            var zhanpinId = $('#zhanpinId').val();
            var index = 0;

            laydate.render({
                elem: '[name="yijiao"]' //指定元素
            });
            
            
            
            
         // 展品列表表格渲染
            table.render({
                elem: '#table-zhanpin'
                ,url:  ctxPath + 'zhanpin/dtl/' + zhanpinId
                ,page: true //开启分页
                ,toolbar: "#table-zhanpin-toolbar"
                ,limits: [5,10,30,50,100]
                ,cols: [[ //表头
                    //{type: "checkbox",width:60},
                    //{field: 'zhanpinId', title: '展品编号', width:120, sort: true,align: 'center'},
                    //{field: 'name', title: '展品名称', width:140,align: 'center'},
                    //{field: 'company', title: '企业名称', width:140,align: 'center'},
                    {field: 'yijiao', title: '移交日期', width:120, sort: true,align: 'center'}
                    ,{field: 'dept', title: '展品位置', width: 120, align: 'center',templet:"#convertDept"}
                    ,{field: 'qixian', title: '期限', width:80, align: 'center',templet: '#convertqixian'}
                    ,{field: 'num', title: '数量', width:80 ,align: 'center'}
                    ,{field: 'pname', title: '交接人', width:90 ,align: 'center'}
                    ,{field: 'ptel', title: '联系电话', width:130 ,align: 'center'}
                    ,{field: 'address', title: '展品照片', width:100 ,align: 'center', templet: function(d) {if(!d.address){return '无'} else {   return '<div onclick="show_img(this)"><img src="../../'+d.address.split(".")[0].substring(d.address.split(".")[0].length - 36)+'.'+d.address.split(".")[1]+'" ' + 'alt="" width="40px" height="40px"></a></div>'; }}}
                    ,{field: 'address1', title: '展位照片', width:100 ,align: 'center', templet: function(d) {if(!d.address){return '无'} else {   return '<div onclick="show_img(this)"><img src="../../'+d.address1.split(".")[0].substring(d.address1.split(".")[0].length - 36)+'.'+d.address1.split(".")[1]+'" ' + 'alt="" width="40px" height="40px"></a></div>'; }}}
                    ,{field: 'beizhu', title: '备注', align: 'center'}
                    //,{field: 'address', title: '家庭住址'}
                    ,{title: '操作', align: 'center', width: 120,toolbar: '#col-zhanpin-toolbar'}
                ]]
            });
         
         // 监听操作列
            table.on('tool(table-zhanpin-filter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent == 'delete'){
                    layer.confirm('您确认删除该展品记录：'+data.name + " ？", {icon: 3, title:'删除确认'}, function(index){
                        // 异步请求删除数据、结果提示、刷新表格
                        var url = ctxPath + "zhanpin/deletedtlpre/" + data.dtlId;
                        var params = {
                            _method:"DELETE"
                        }
                        $.post(url,params,function (response) {
                            if(response.code == 0){
                            	// 成功提示
                                layer.msg(response.message, {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){

                                    // 关闭窗口
                                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                    parent.layer.close(index); //再执行关闭
                                });
                            }else{
                            	
                            	
                            	layer.confirm("该展品仅剩一条明细，删除后会删除该展品信息，是否确认删除？", {icon: 3, title:'删除确认'}, function(index){
                                    // 异步请求删除数据、结果提示、刷新表格
                                    var url = ctxPath + "zhanpin/deletedtlandinfo/" + data.dtlId;
                                    var params = {
                                        _method:"DELETE"
                                    }
                                    $.post(url,params,function (response) {
                                        if(response.code == 0){
                                        	// 成功提示
                                            layer.msg(response.message, {
                                                icon: 1,
                                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                            }, function(){
                                                // 关闭窗口
                                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                                parent.layer.close(index); //再执行关闭
                                            });
                                        }else{
                                            layer.alert(response.message, {icon: 2,anim:6 });
                                        }
                                    });
                                    layer.close(index);
                                });
                            	
                            	
                            }
                        });

                        layer.close(index);
                    });
                }else if(layEvent == 'edit'){
                    layer.open({
                        type: 2,
                        title: "修改展品",
                        shadeClose: false,
                        area: ['100%', '100%'],
                        content: '/zhanpin/dtlid/' + data.dtlId
                    });
                }
            });
            

            
        });
        
        function show_img(t) {
        	var t = $(t).find("img");
        	//页面层
        	layer.open({
        		type: 1,
        		title: '展品照片',
        		skin: 'layui-layer-rim', //加上边框
        		area: ['80%', '80%'], //宽高 t.width() t.height()
        		shadeClose: true, //开启遮罩关闭
        		end: function (index, layero) {
        			return false;
        		},
        		content: '<div style="text-align:center"><img src="../../' + $(t).attr('src') + '"  width="100%" height="auto"/></div>'
        	});
        }
    </script>
</body>
</html>