<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .div-content{
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }
        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>

    <div class="div-content">
        <form class="layui-form layui-form-pane" id="form-search">
        <fieldset class="table-search-fieldset">
            <legend>搜索条件</legend>
            <div class="layui-form-item">

                
                <div class="layui-input-inline"  style="width: 250px;">
			        <label class="layui-form-label">会议室位置</label>
			        <div class="layui-input-block">
			            <select name="building" >
			                <option value="">请选择</option>
			                <option value="5号楼">5号楼</option>
			                <option value="6号楼">6号楼</option>
			                <option value="3-5裙楼">3-5裙楼</option>
			                <option value="综合服务中心">综合服务中心</option>
			                <option value="大报告厅">大报告厅</option>
			                <option value="展示中心">展示中心</option>
			                <option value="会议中心">会议中心</option>
			            </select>
			        </div>
			    </div>
                
                

                <div class="layui-input-inline"  style="width: 250px;">
			        <label class="layui-form-label">可对外预约</label>
			        <div class="layui-input-block">
			            <select name="disabled" >
			                <option value="">请选择</option>
			                <option value="0">可预约</option>
			                <option value="1">不可预约</option>		                
			            </select>
			        </div>
			    </div>

			    <div class="layui-inline" >
                    <label class="layui-form-label">会议室名称</label>
                    <div class="layui-input-inline"  style="width: 350px;">
                        <input type="text" name="roomname" autocomplete="off" class="layui-input">
                    </div>
                </div>
                

                


                <div class="layui-inline">
                    <button id="btn-search" lay-submit lay-filter="btn-search-filter" type="button" class="layui-btn layui-btn-radius layui-btn-normal">
                        <i class="layui-icon layui-icon-search"></i>
                        搜索
                    </button>
                    <button id="btn-reset"  type="reset" class="layui-btn layui-btn-radius layui-btn-primary">
                        <i class="layui-icon layui-icon-fonts-clear"></i>
                        清空条件
                    </button>
                </div>

            </div>
        </fieldset>
        </form>

        <table id="table-meetingroom" lay-filter="table-meetingroom-filter" class="layui-table"></table>
    </div>



    <script type="text/html" id="table-meetingroom-toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>

        </div>
    </script>

    <script type="text/html" id="col-meetingroom-toolbar">
		<a class="layui-btn layui-btn-xs" lay-event="check">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">调整</a>
		<a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
    </script>
    
    <script type="text/html" id="convertdisabled">
        {{#
            if(d.disabled == '0'){
                return '<input type="checkbox" data="'+d.roomid+'" checked="" value="ture" lay-skin="switch" lay-filter="switch" lay-text="开|关">';
            }else if(d.disabled == '1'){
                return '<input type="checkbox" data="'+d.roomid+'" value="false" lay-skin="switch" lay-filter="switch" lay-text="开|关">';
            }else{
                return '<input type="checkbox" data="'+d.roomid+'" value="false" lay-skin="switch" lay-filter="switch" lay-text="开|关">';
            }
        }}
    </script>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:inline="javascript">

        function refreshTable(){
            $("#btn-reset").click();
            $("#btn-search").click();
        }

        var ctxPath = "";
        layui.use(['laydate','table','form'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;

            // 表格头部工具栏监听
            table.on('toolbar(table-meetingroom-filter)', function(obj){
                if(obj.event == 'add'){
                    layer.open({
                        type: 2,
                        title: "新增会议室",
                        shadeClose: false,
                        area: ['100%', '100%'],
                        content: ctxPath  + 'meetingroom/add/UI'
                    });
                }

            });

            //执行一个laydate实例
            laydate.render({
                elem: '.date' //指定元素
            });

            // 会议室列表表格渲染
            table.render({
                elem: '#table-meetingroom'
                ,url:  ctxPath + 'meetingroom/list' //数据接口
                ,page: true //开启分页
                ,toolbar: "#table-meetingroom-toolbar"
                ,scrollPos :'reset'
                ,limits: [5,10,30,50,100]
            	,cellMinWidth: 80
                ,cols: [[ //表头
                    //{type: "checkbox",width:60},
                    //{field: 'meetingroomId', title: '会议室编号', width:120, sort: true,align: 'center'},
                    {field: 'roomname', title: '会议室名称', width:140,align: 'center'}
                    ,{field: 'park', title: '园区', width:140,align: 'center'}
                    ,{field: 'building', title: '楼宇', width:150, align: 'center'}
                    ,{field: 'num', title: '建议人数', width:100 ,align: 'center'}
                    ,{field: 'maxnum', title: '最大人数', width: 100, align: 'center'}
                    ,{field: 'roomtype', title: '会议室类型', width:100, align: 'center'}
                    ,{field: 'device', title: '设备设施', width:100 ,align: 'center'}
                    ,{field: 'disabled', title: '是否可预订', width:100 ,align: 'center', templet: '#convertdisabled'}
                    ,{field: 'address1', title: '会议室照片', width:100 ,align: 'center', templet: function(d) { if(!d.address1){return '无'} else {  return '<div onclick="show_img(this)"><img src="'+d.address1.split(".")[0].substring(d.address1.split(".")[0].length - 36)+'.'+d.address1.split(".")[1]+'" ' + 'alt="" width="40px" height="40px"></a></div>'; }}}
                    ,{field: 'address2', title: '会议室照片', width:100 ,align: 'center', templet: function(d) { if(!d.address2){return '无'} else {  return '<div onclick="show_img(this)"><img src="'+d.address2.split(".")[0].substring(d.address2.split(".")[0].length - 36)+'.'+d.address2.split(".")[1]+'" ' + 'alt="" width="40px" height="40px"></a></div>'; }}}
                    ,{field: 'address3', title: '会议室照片', width:100 ,align: 'center', templet: function(d) { if(!d.address3){return '无'} else {  return '<div onclick="show_img(this)"><img src="'+d.address3.split(".")[0].substring(d.address3.split(".")[0].length - 36)+'.'+d.address3.split(".")[1]+'" ' + 'alt="" width="40px" height="40px"></a></div>'; }}}
                    ,{title: '操作', align: 'center', width: 200,toolbar: '#col-meetingroom-toolbar'}
                ]]
            });
            
            //监听指定开关
            form.on('switch(switch)', function (data) {
            	$.ajax({
            	    url: "meetingroom/"+$(data.elem).attr("data")+'/status?disable='+this.checked ,
            	    type: 'PUT',
            	    success: function(result) {
            	    	layer.msg('修改成功');
            	    }
            	});
               // layer.tips('温馨提示：默认开启', data.othis)
            });

            // 监听表单提交
            form.on('submit(btn-search-filter)', function(data){
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                // 刷新表格
                table.reload('table-meetingroom', {
                    where: { //设定异步数据接口的额外参数，任意设
                    	roomname: data.field.roomname,
                    	building: data.field.building,
                    	disabled: data.field.disabled
                    }
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            // 监听操作列
            table.on('tool(table-meetingroom-filter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent == 'delete'){
                    layer.confirm('您确认删除该会议室：'+data.roomname + " ？", {icon: 3, title:'删除确认'}, function(index){
                        // 异步请求删除数据、结果提示、刷新表格
                        var url = "/meetingroom/deleteroom/" + data.roomid;
                        var params = {
                            _method:"DELETE"
                        }
                        $.post(url,params,function (response) {
                            if(response.code == 0){
                                layer.msg(response.message, {icon: 1});
                                refreshTable();
                            }else{
                                layer.alert(response.message, {icon: 2,anim:6 });
                            }

                        });

                        layer.close(index);
                    });
                }else if(layEvent == 'edit'){
                    layer.open({
                        type: 2,
                        title: "修改会议室",
                        shadeClose: false,
                        area: ['100%', '100%'],
                        content: '/meetingroom/editroom/UI/' + data.roomid
                    });
                }else if(layEvent == 'check'){
                    layer.open({
                        type: 2,
                        title: "查看会议室",
                        shadeClose: false,
                        area: ['100%', '100%'],
                        content: '/meetingroom/checkroom/UI/' + data.roomid
                    });
                }
            });
        });
        
        function show_img(t) {
        	var t = $(t).find("img");
        	//页面层
        	layer.open({
        		type: 1,
        		title: '会议室照片',
        		skin: 'layui-layer-rim', //加上边框
        		area: ['80%', '80%'], //宽高 t.width() t.height()
        		shadeClose: true, //开启遮罩关闭
        		end: function (index, layero) {
        			return false;
        		},
        		content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '"  width="100%" height="auto"/></div>'
        	});
        }
    </script>
</body>
</html>