<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看会议室</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        body{
            padding: 20px;
        }
    </style>
</head>
<body>

<form class="layui-form" action="" th:object="${meetingroom}">

	<input type="hidden" th:field="*{roomid}">
	
    <div class="layui-form-item">
        <label class="layui-form-label">会议室名称</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{roomname}" readonly="true" style="background:#CCCCCC" required  lay-verify="required" placeholder="请输入会议室名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">园区</label>
        <div class="layui-input-block">
            <input type="radio" th:field="*{park}"  readonly="true" style="background:#CCCCCC" value="天开园核心区" title="天开园核心区" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会议室位置</label>
        <div class="layui-input-block">
            <select  th:field="*{building}" readonly="true" style="background:#CCCCCC">
               <option value="">请选择</option>
               <option value="5号楼">5号楼</option>
               <option value="6号楼">6号楼</option>
               <option value="3-5裙楼">3-5裙楼</option>
               <option value="综合服务中心">综合服务中心</option>
               <option value="大报告厅">大报告厅</option>
               <option value="展示中心">展示中心</option>
               <option value="会议中心">会议中心</option>
           </select>
        </div>
    </div>

    
    <div class="layui-form-item">
        <label class="layui-form-label">建议人数</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{num}" readonly="true" style="background:#CCCCCC" required  lay-verify="required" placeholder="请输入建议人数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最大人数</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{maxnum}" readonly="true" style="background:#CCCCCC" required  lay-verify="required" placeholder="请输入最大人数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会议室类型</label>
        <div class="layui-input-block">
            <select th:field="*{roomtype}">
               <option value="">请选择</option>
               <option value="A">A</option>
               <option value="B">B</option>
               <option value="C">C</option>
               <option value="D">D</option>
               <option value="E">E</option>
           </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">设备设施</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{device}" readonly="true" style="background:#CCCCCC" required  lay-verify="required" placeholder="请输入设备设施" autocomplete="off" class="layui-input">
        </div>
    </div>

    
    
</form>

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:inline="javascript">
        var ctxPath = "/";
        layui.use(['laydate','table','form', 'upload', 'element'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            var upload = layui.upload;
            var element = layui.element;
            var $ = layui.$;
            
            var fileupload1 = $(".address1");
            var fileupload2 = $(".address2");
            var fileupload3 = $(".address3");


        });
    </script>
</body>
</html>