<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tky.meeting.mapper.MeetingRoomMapper">
    
    <resultMap id="meetingroomMap" type="MeetingRoom">
        <id column="roomid" property="roomid" />
        <result column="park" property="park"/>
        <result column="building" property="building"/>
        <result column="roomname" property="roomname"/>
        <result column="num" property="num"/>
        <result column="maxnum" property="maxnum"/>
        <result column="roomtype" property="roomtype"/>
        <result column="device" property="device"/>
        <result column="disabled" property="disabled"/>
        <result column="address1" property="address1"/>
        <result column="address2" property="address2"/>
        <result column="address3" property="address3"/>
        
    </resultMap>
    

    <select id="getMeetingRoomList" parameterType="com.tky.meeting.vo.MeetingRoomQuery" resultMap="meetingroomMap">
        select * from m_room a
        <include refid="getMeetingRoomListWhere"></include>
        order by roomid desc
        limit #{start},#{limit}
    </select>

    <select id="countMeetingRoomList" parameterType="com.tky.meeting.vo.MeetingRoomQuery" resultType="Long">
        select count(1) from m_room a
        <include refid="getMeetingRoomListWhere"></include>
    </select>

    <sql id="getMeetingRoomListWhere">
        <where>
            <if test="roomname != null and roomname != '' ">
                a.roomname like '%' #{roomname} '%'
            </if>
            <if test="building != null and building != '' ">
                <![CDATA[
                and a.building like '%' #{building} '%'
                ]]>
            </if>
            <if test="disabled != null and disabled != '' ">
                <![CDATA[
                and a.disabled = #{disabled} 
                ]]>
            </if>
        </where>
    </sql>

    

    
    
    <delete id="deleteMeetingRoomByid" parameterType="String">
        delete from m_room  where roomid = #{roomid}
    </delete>

    <select id="getMeetingRoomById" parameterType="String" resultType="MeetingRoom">
        select * from m_room  where roomid = #{roomid}
    </select>
    
    
    
    <insert id="addMeetingRoom" parameterType="MeetingRoom">
        insert into m_room
        (park,building,roomname,num,maxnum,roomtype,device,disabled,address1,address2,address3)
        values
        (#{park},#{building},#{roomname},#{num},#{maxnum},#{roomtype},#{device},#{disabled},#{address1},#{address2},#{address3})
    </insert>
    

    <update id="updateMeetingRoom" parameterType="MeetingRoom">
        update m_room
        set park = #{park},
            building = #{building},
            roomname = #{roomname},
            num = #{num},
            maxnum = #{maxnum},
            roomtype = #{roomtype},
            device = #{device},
            disabled = #{disabled},
            address1 = #{address1},
            address2 = #{address2},
            address3 = #{address3}
        where roomid = #{roomid}
    </update>
    
    
    <update id="chgdisabled" parameterType="MeetingRoom">
        update m_room set disabled=#{disabled} where roomid = #{roomid}
    </update>
</mapper>