<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">       
<mapper namespace="com.tky.user.mapper.RoleMapper">

	
    
    <resultMap id="roleMap" type="Role">
        <id column="role_id" property="role_id" />
        <result column="role_name" property="role_name"/>
        <result column="description" property="description"/>
        <result column="disabled" property="disabled"/>
        <result column="sort" property="sort"/>
    </resultMap>
    
    
    <sql id="getRoleListWhere">
        <where>
            <if test="role_name != null">
                a.role_name like '%' #{role_name} '%'
            </if>
            <if test="description != null">
                <![CDATA[
                and a.description like '%' #{description} '%'
                ]]>
            </if>
            <if test="disabled != null">
                <![CDATA[
                and a.disabled like '%' #{disabled} '%'
                ]]>
            </if>
            
        </where>
    </sql>
       
    
    <select id="getRoleList" parameterType="com.tky.user.vo.RoleQuery" resultMap="roleMap">
        select * from u_role a
        <include refid="getRoleListWhere"></include>
        order by sort desc
        limit #{start},#{limit}
    </select>


    <select id="countRoleList" parameterType="com.tky.user.vo.RoleQuery" resultType="Long">
        select count(1) from u_role a
        <include refid="getRoleListWhere"></include>
    </select>
    
    
    <insert id="addRole" parameterType="Role">
        insert into u_role
        (role_name, description, disabled, sort)
        values
        (#{role_name},#{description},#{disabled},#{sort})
    </insert>
    
    
    
    <select id="getmyroles" parameterType="Integer" resultType="Integer">
        select role_id from u_user_role where user_id=#{user_id}
    </select>
    
    
    <select id="getAllRoles"  resultMap="roleMap">
        select * from u_role
    </select>
    
    
    <delete id="deleteroleuserByuser" parameterType="Integer">
        delete from u_user_role where user_id=#{user_id}
    </delete>
    
    
    <insert id="addroleuser" parameterType="Integer">
        insert into u_user_role
        (user_id, role_id)
        values
        (#{user_id},#{role_id})
    </insert>
    
    
    <select id="getmyusers" parameterType="Integer" resultType="Integer">
        select user_id from u_user_role where role_id=#{role_id}
    </select>
    
    
    <delete id="deleteroleuserByrole" parameterType="Integer">
        delete from u_user_role where role_id=#{role_id}
    </delete>
 
</mapper>